.profile__avatar {
  position: relative;
  margin-right: 30px;
  padding: 0;
  width: 120px;
  height: 120px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.profile__avatar::after {
  content: "";
  position: absolute;
  inset: 0;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url('../../../images/edit.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.profile__avatar:hover::after,
.profile__avatar:focus-visible::after {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 767px) {
  .profile__avatar {
    margin: 0;
    margin-bottom: 22px;
  }
}
